<div class="row">
  <label>Account:</label>
  <span>{{@email}}</span>
</div>
<div class="row right">
  <button class="logout" {{action "signOut"}}>
    <ion-icon name="log-out"></ion-icon> logout
  </button>
</div>