{{#if showBackButton}}
    <button {{action "navigateBack"}}>&lt;</button>
{{/if}}

<span>{{@title}}</span>

{{#if settingsNavsBack}}
    <button {{action "navigateBack"}}>*</button>
{{else}}
    <LinkTo @route="settings">*</LinkTo>
{{/if}}