@import "common";
// -- resets -- //
html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

button {
  cursor: pointer;
  background-color: transparent;
}

// -- app styles -- //
.application {
  color: @primary-darkest;
}

@import 'index';
@import 'settings-view';
@import 'components/title-bar';
@import 'components/workout-set';