.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  .column {
    display: flex;
    flex-direction: column;

    &.grow {
      flex-grow: 1;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: @capped-width;
  }

  label {
    margin: 0 15px 15px 0;
    font-size: 24px;
  }

  input {
    flex-grow: 1;
    border: 1px solid @primary-medium;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
    color: inherit;
    margin: 0 0 15px 0;
  }

  button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid @primary-medium;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 10px 0;
    font-size: 28px;
    color: @primary-medium;

    ion-icon {
      font-size: 32px;
      margin-right: 7px;
    }
  }
}