.selection-list {
  display: flex;
  flex-direction: column;
}
.selection-list a {
  font-size: 24px;
  text-decoration: none;
  color: #5bc0eb;
  border-bottom: 2px solid #b4e2f5;
  margin-bottom: 25px;
  padding: 0 5px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selection-list a.complete {
  opacity: 0.5;
}
.selection-list a ion-icon {
  font-size: 28px;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #5bc0eb;
  border-color: #5bc0eb transparent #5bc0eb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #224656;
  overflow-x: hidden;
  overflow-y: auto;
}
button {
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}
.confirm-delete button {
  display: flex;
  align-items: center;
  border: none;
  border: 2px solid red;
  color: red;
  font-size: 14px;
  border-radius: 12px;
}
.confirm-delete button.initial {
  padding: 0;
}
.confirm-delete button.secondary {
  padding: 0 5px;
}
.confirm-delete button ion-icon {
  font-size: 20px;
}
.finish-cycle .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.finish-cycle .row.right {
  justify-content: flex-end;
}
.finish-cycle .open-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  color: #5bc0eb;
  border: 3px solid #5bc0eb;
  height: 50px;
  border-radius: 25px;
  padding-left: 15px;
  box-shadow: 0 0 10px 0px #cfcece;
}
.finish-cycle .open-button.active,
.finish-cycle .open-button:active {
  box-shadow: none;
}
.finish-cycle .open-button ion-icon {
  font-size: 43px;
  margin-left: 10px;
  margin-right: -7px;
}
.finish-cycle .page-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish-cycle .modal {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-size: 24px;
  border: 3px solid #5bc0eb;
  border-radius: 22px;
  overflow: hidden;
  width: 350px;
  padding-bottom: 20px;
}
.finish-cycle .modal .row {
  padding: 10px 20px 0 20px;
  justify-content: space-between;
}
.finish-cycle .modal .title {
  font-size: 28px;
  background-color: #5bc0eb;
  color: #ffffff;
  padding: 0 0 0 12px;
  margin-bottom: 10px;
}
.finish-cycle .modal .footer {
  margin-top: 30px;
}
.finish-cycle .modal .close-button {
  border: none;
  font-size: 44px;
  color: #ffffff;
  display: flex;
  margin: 0 -8px 3px 0;
}
.finish-cycle .modal .close-button:hover {
  color: #fdbdbd;
}
.finish-cycle .modal label.disabled span {
  opacity: 0.5;
}
.finish-cycle .modal input[type=checkbox] {
  transform: scale(2);
  margin-right: 13px;
}
.finish-cycle .modal .increment-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.finish-cycle .modal .increment-group span {
  font-size: 28px;
  padding: 0 15px;
  width: 35px;
  display: flex;
  justify-content: center;
}
.finish-cycle .modal .increment-group .increment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f9fd;
  color: #5bc0eb;
  border: 1px solid #5bc0eb;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-weight: bolder;
  font-size: 18px;
  box-shadow: 0 0 5px 0px #cfcece;
}
.finish-cycle .modal .increment-group .increment.active,
.finish-cycle .modal .increment-group .increment:active {
  box-shadow: none;
}
.finish-cycle .modal .increment-group .increment:disabled {
  cursor: default;
  border: 1px solid #bbb;
  background-color: #eee;
  color: #bbb;
  box-shadow: 0 0 0px 0px #cfcece;
}
.finish-cycle .modal .increment-group .increment:disabled.active,
.finish-cycle .modal .increment-group .increment:disabled:active {
  box-shadow: none;
}
.finish-cycle .modal .cancel {
  border: none;
  border-bottom: 2px solid red;
  color: red;
  font-size: 20px;
  margin-left: 8px;
}
.finish-cycle .modal .submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: green;
  border: 3px solid green;
  height: 40px;
  border-radius: 20px;
  padding-left: 12px;
  box-shadow: 0 0 10px 0px #cfcece;
}
.finish-cycle .modal .submit.active,
.finish-cycle .modal .submit:active {
  box-shadow: none;
}
.finish-cycle .modal .submit ion-icon {
  font-size: 33px;
  margin-left: 7px;
  margin-right: -7px;
}
.finish-cycle .modal .lds-dual-ring {
  width: 25px;
  height: 32px;
  margin-left: 8px;
}
.finish-cycle .modal .lds-dual-ring::after {
  width: 20px;
  height: 20px;
}
.settings-account-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.settings-account-control .row {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0 75px 0;
}
.settings-account-control .row.right {
  justify-content: flex-end;
}
.settings-account-control .row label {
  flex-grow: 1;
  font-size: 22px;
}
.settings-account-control .row .logout {
  font-size: 24px;
  border: none;
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settings-account-control .row .logout ion-icon {
  font-size: 30px;
  margin-right: 7px;
}
.settings-bar-loading-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.settings-bar-loading-control .row {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 35px 0;
}
.settings-bar-loading-control .row.left {
  justify-content: flex-start;
}
.settings-bar-loading-control .row.right {
  justify-content: flex-end;
}
.settings-bar-loading-control .row.spread {
  justify-content: space-between;
}
.settings-bar-loading-control .row.space-around {
  justify-content: space-around;
}
.settings-bar-loading-control .row.hug {
  margin-top: -20px;
}
.settings-bar-loading-control .row.wrap {
  flex-wrap: wrap;
}
.settings-bar-loading-control .edit,
.settings-bar-loading-control .save-edit,
.settings-bar-loading-control .cancel-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 28px;
  margin-top: 40px;
}
.settings-bar-loading-control .edit ion-icon,
.settings-bar-loading-control .save-edit ion-icon,
.settings-bar-loading-control .cancel-edit ion-icon {
  margin: 0 5px -5px 0;
}
.settings-bar-loading-control .edit {
  color: #5bc0eb;
}
.settings-bar-loading-control .save-edit {
  color: green;
}
.settings-bar-loading-control .cancel-edit {
  color: red;
}
.settings-bar-loading-control .bar,
.settings-bar-loading-control .max {
  font-size: 28px;
}
.settings-bar-loading-control .plates {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
}
.settings-bar-loading-control .plates::before {
  content: "[";
  padding-right: 5px;
  font-size: 24px;
  margin-top: -5px;
}
.settings-bar-loading-control .plates::after {
  content: "]";
  font-size: 24px;
  margin-top: -5px;
}
.settings-bar-loading-control .plates .plate::after {
  content: ",";
  padding-right: 5px;
}
.settings-bar-loading-control .plates .plate:last-child::after {
  content: "";
}
.settings-bar-loading-control .plates::before,
.settings-bar-loading-control .plates::after,
.settings-bar-loading-control .plates .plate::after {
  color: #679cb3;
}
.settings-bar-loading-control .plate-editor {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 20px 50px 0 0;
}
.settings-bar-loading-control .plate-editor .plate {
  width: 30px;
  display: flex;
  justify-content: flex-end;
}
.settings-bar-loading-control .delete-container {
  width: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 7px;
}
.settings-bar-loading-control .add-plate {
  display: flex;
  align-items: center;
  border: none;
  color: green;
  font-size: 14px;
}
.settings-bar-loading-control .add-plate ion-icon {
  font-size: 30px;
}
.settings-bar-loading-control .new-plate {
  border: 1px solid #5bc0eb;
  padding: 7px 10px;
  font-size: 16px;
  color: inherit;
  width: 40px;
  border-radius: 3px;
  margin: 0 9px 0 8px;
}
.settings-bar-loading-control .weight-chooser {
  border: 1px solid #5bc0eb;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #5bc0eb;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0px #cfcece;
}
.settings-bar-loading-control .weight-chooser.active,
.settings-bar-loading-control .weight-chooser:active {
  box-shadow: none;
}
.settings-bar-loading-control .weight-chooser.active {
  background-color: #5bc0eb;
  color: #ffffff;
}
.settings-bar-loading-control .warning {
  color: #883000;
}
.settings-bar-loading-control .warning ion-icon {
  color: #ffae42;
  margin-right: 7px;
}
.settings-lifts-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.settings-lifts-control .row {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;
}
.settings-lifts-control .row.right {
  justify-content: flex-end;
}
.settings-lifts-control .row.spread {
  justify-content: space-between;
}
.settings-lifts-control .increment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f9fd;
  color: #5bc0eb;
  border: 1px solid #5bc0eb;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-weight: bolder;
  font-size: 18px;
  box-shadow: 0 0 5px 0px #cfcece;
}
.settings-lifts-control .increment.active,
.settings-lifts-control .increment:active {
  box-shadow: none;
}
.settings-lifts-control .name {
  flex-grow: 1;
  min-width: 100px;
  margin: 0 10px 0 20px;
  display: flex;
  justify-content: flex-start;
}
.settings-lifts-control .max {
  font-weight: bold;
  font-size: 28px;
  min-width: 60px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
}
.settings-lifts-control .edit,
.settings-lifts-control .save-edit,
.settings-lifts-control .cancel-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 28px;
  margin-top: 50px;
}
.settings-lifts-control .edit ion-icon,
.settings-lifts-control .save-edit ion-icon,
.settings-lifts-control .cancel-edit ion-icon {
  margin: 0 5px -5px 0;
}
.settings-lifts-control .edit {
  color: #5bc0eb;
}
.settings-lifts-control .save-edit {
  color: green;
}
.settings-lifts-control .cancel-edit {
  color: red;
}
.settings-lifts-control .add-empty-lift {
  border: none;
  font-size: 28px;
  color: green;
}
.settings-lifts-control .delete-container {
  width: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.settings-lifts-control .lift-input {
  border: 1px solid #5bc0eb;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 16px;
  color: inherit;
  margin-right: 10px;
}
.settings-lifts-control .lift-input.name-input {
  flex-grow: 1;
}
.settings-lifts-control .lift-input.max-input {
  width: 40px;
}
.title-bar {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 5px;
  background-color: #5bc0eb;
  color: #f0f9fd;
  box-shadow: 0 0 15px 0 #cfcece;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settings-button-wrapper {
  position: absolute;
  top: 0px;
  overflow: hidden;
  right: 0px;
}
.settings-button-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-size: 32px;
  border: 3px solid #5bc0eb;
  color: #5bc0eb;
  margin-top: -25px;
  background-color: #f0f9fd;
}
.settings-button-wrapper .nav-button ion-icon {
  margin-bottom: -15px;
}
.settings-button-wrapper .nav-button {
  margin-right: -25px;
}
.settings-button-wrapper .nav-button ion-icon {
  margin-left: -15px;
}
.back-button-wrapper {
  position: absolute;
  top: 0px;
  overflow: hidden;
  left: 0px;
}
.back-button-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-size: 32px;
  border: 3px solid #5bc0eb;
  color: #5bc0eb;
  margin-top: -25px;
  background-color: #f0f9fd;
}
.back-button-wrapper .nav-button ion-icon {
  margin-bottom: -15px;
}
.back-button-wrapper .nav-button {
  margin-left: -25px;
}
.back-button-wrapper .nav-button ion-icon {
  margin-right: -15px;
}
.workout-logger {
  padding: 20px 10px;
}
.workout-logger .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.workout-logger .row.center {
  align-items: center;
}
.workout-logger .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.workout-logger .pull-right {
  display: flex;
  justify-content: flex-end;
}
.workout-logger label {
  font-size: 20px;
  padding-right: 10px;
}
.workout-logger .estimate {
  font-size: 20px;
}
.workout-logger input {
  width: 50px;
  padding: 7px 10px;
  border: 1px solid #5bc0eb;
  border-radius: 5px;
  font-size: 18px;
}
.workout-logger button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #5bc0eb;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #5bc0eb;
  font-size: 32px;
  box-shadow: 0 0 10px 0px #cfcece;
}
.workout-logger button.active,
.workout-logger button:active {
  box-shadow: none;
}
.workout-logger button.submit {
  background-color: #5bc0eb;
  color: #ffffff;
  margin-right: 10px;
}
.workout-logger button.cancel {
  color: red;
  border-color: red;
  margin-left: 10px;
}
.workout-logger button.open {
  margin-right: 10px;
}
.workout-logger .success-indicator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4fca4f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 32px;
  color: #4fca4f;
}
.workout-set {
  display: flex;
  flex-direction: column;
  border: 3px solid #5bc0eb;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  padding-bottom: 6px;
  box-shadow: 0px 4px 8px -2px #cfcece;
}
.workout-set.complete {
  opacity: 0.5;
}
.workout-set .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.workout-set .row.lift {
  font-size: 18px;
  padding: 10px 18px;
  color: #224656;
  border-bottom: 1px solid #b4e2f5;
}
.workout-set .row.title {
  justify-content: space-between;
  font-size: 18px;
  font-weight: bolder;
  color: #f0f9fd;
  background-color: #5bc0eb;
  padding-left: 8px;
}
.workout-set .row.title .icon {
  width: 36px;
  height: 40px;
}
.workout-set .row.title ion-icon {
  font-size: 36px;
  color: white;
}
.workout-set .row .weight {
  min-width: 35px;
}
.workout-set .row .label {
  font-size: 14px;
  margin-bottom: -2px;
  margin-left: 5px;
  margin-right: 20px;
}
.workout-set .row .count {
  flex-grow: 1;
  font-size: 16px;
}
.workout-set .row .plates {
  align-self: flex-end;
  margin-left: 20px;
  color: #679cb3;
}
.import-view {
  display: flex;
  flex-direction: column;
}
.import-view textarea {
  height: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #5bc0eb;
  border-radius: 5px;
}
.index-view .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.index-view .chart-button {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid #5bc0eb;
  color: #5bc0eb;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0px #cfcece;
}
.index-view .chart-button.active,
.index-view .chart-button:active {
  box-shadow: none;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.login .column {
  display: flex;
  flex-direction: column;
}
.login .column.grow {
  flex-grow: 1;
}
.login .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 350px;
}
.login label {
  margin: 0 15px 15px 0;
  font-size: 24px;
}
.login input {
  flex-grow: 1;
  border: 1px solid #5bc0eb;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 16px;
  color: inherit;
  margin: 0 0 15px 0;
}
.login button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #5bc0eb;
  border-radius: 5px;
  padding: 7px 10px;
  margin: 10px 0;
  font-size: 28px;
  color: #5bc0eb;
}
.login button ion-icon {
  font-size: 32px;
  margin-right: 7px;
}
.settings-view {
  display: flex;
  flex-direction: column;
}
.settings-view .tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #5bc0eb;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #f0f9fd;
}
.settings-view .tabs button {
  font-size: 24px;
  border: none;
  color: #5bc0eb;
  width: 110px;
  padding: 10px 0;
  margin-bottom: -1px;
}
.settings-view .tabs button.active {
  background-color: #ffffff;
  border-left: 1px solid #5bc0eb;
  border-right: 1px solid #5bc0eb;
  border-bottom: 1px solid #ffffff;
}
/*# sourceMappingURL=/assets/lift-tracker-531.css.map */