<TitleBar @title="History" />

<div class="chart-view">
  <HighCharts
    @chartOptions={{model.chartOptions}}
    @content={{model.series}} />

  <div class="row">
    <LinkTo @route="records" @tagName="button" @class="link-button">
      <span>Records</span>
      <span class="icon"><ion-icon name="calendar"></ion-icon></span>
    </LinkTo>
  </div>
</div>