<TitleBar @title="Lift Tracker" @showBackButton={{false}} />

<div class="selection-list">
  {{#each model as |week|}}
    <LinkTo @route="week" @model={{week}}>
      {{capitalize week}}
    </LinkTo>
  {{/each}}
</div>