<TitleBar @title="Settings" @settingsNavsBack={{true}} />

<div class="settings-view">
  <SettingsAccountControl @email={{model.email}} />
  <SettingsLiftsControl @lifts={{model.lifts}} />
  <SettingsBarLoadingControl @barLoading={{model.barLoading}} />
</div>