{{#let model.week as |week|}}
  <TitleBar @title={{capitalize week}} />

  <div class="selection-list">
    {{#each model.lifts as |lift|}}
      <LinkTo @route="lift" @models={{array week lift.id}}>
        {{capitalize lift.name}}
      </LinkTo>
    {{/each}}
  </div>
{{/let}}