{{#let model.week as |week|}}
  <TitleBar @title={{capitalize week}} />

  <div class="selection-list">
    {{#each model.lifts as |lift|}}
      {{#let (get lift week) as |isCompleted|}}
        <LinkTo @route="lift" @models={{array week lift.id}} class={{if isCompleted "complete"}}>
          {{capitalize lift.name}}
          {{#if isCompleted}}
            <ion-icon name="checkmark-circle"></ion-icon>
          {{/if}}
        </LinkTo>
      {{/let}}
    {{/each}}
  </div>
{{/let}}